{% extends 'sarcasm/sarcasm.html' %}

{% block script %}
<style>
	.button{
		background-color:rgba(199,139,140,1.00);
		padding:16px;
		width:20%;
		box-sizing:border-box;
		margin-top:20px;
	}

	.button:hover{
		background-color:black;
		color:white;
		}
</style>
{% endblock %}

{% block content %}
<div style="margin-left:560px">

  <div>
 <h1 style="text-align:left"><b>Registration Form</b></h1>
  <br/>
	<form role="form" action='' method='post'>
		{% csrf_token %}
  <input name="name" type="text" placeholder="Enter user Name" style="padding:16px;width:50%;box-sizing:border-box">
  <br/>
  <br/>
  <input name="pwd" type="password" placeholder="Enter Your Password" style="padding:16px;width:50%;box-sizing:border-box">
  <br/>
  <br/>
  <input name="cpwd" type="password" placeholder="Confirm Password" style="padding:16px;width:50%;box-sizing:border-box">
  <br/>
  <br/>
  <input name="mailid" type="text" placeholder="Enter Your Mail Id" style="padding:16px;width:50%;box-sizing:border-box">
  <br/>
  <br/>
  <input name="ph" type="text" placeholder="Enter Your Phone No" style="padding:16px;width:50%;box-sizing:border-box">
  <br/>
	<input type="submit" class="button" name="" value="Login">
	</form>
  </div>
</div>
{% endblock %}
